<section class="pt-5 pb-5 pt-lg-7 pb-lg-7">
    <div class="container" style="background-color: white;">
        <div class="row mb-5 mb-lg-7">
            <div class="col mx-auto">
                <h2 class="text-center mt-5">Sistema Invest</h2>
            </div>
        </div>
        <form id="login-form" [formGroup]="loginForm">
            <div class="row mt-3">
                <div class="col-md-8 col-lg-6 col-xl-4 mx-auto">
                    <div class="form-group">
                        <label for="documet">CPF:</label>
                        <input 
                            type="text" 
                            id="document" 
                            name="document" 
                            class="form-control"
                            maxlength="14"
                            formControlName="document"
                            [ngClass]="{ 'is-invalid': loginForm.controls['document'].touched && loginForm.controls['document']?.errors }"
                            />
                        <div *ngIf="loginForm.controls['document']?.invalid && (loginForm.controls['document']?.invalid.dirty 
                            || loginForm.controls['document']?.touched)" class="alert"> 

                          <div *ngIf="loginForm.controls['document']?.errors?.['required']">
                            Campo CPF é obrigatório.
                          </div>
                          <div *ngIf="loginForm.controls['document']?.errors?.['minlength']">
                            Campo CPF deve ter pelo menos 11 caracteres.
                          </div> 

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha:</label>
                        <input 
                            type="password" 
                            id="password" 
                            name="password" 
                            class="form-control"
                            maxlength="8"
                            formControlName="password"
                            [ngClass]="{ 'is-invalid': loginForm.controls['password'].touched && loginForm.controls['password']?.errors }"
                            />
                        <div *ngIf="loginForm.controls['password']?.errors && (loginForm.controls['password']?.invalid.dirty 
                        || loginForm.controls['password']?.touched)" class="alert"> 

                          <div *ngIf="loginForm.controls['password']?.errors?.['required']">
                            Campo senha é obrigatório.
                          </div>
                          <div *ngIf="loginForm.controls['password']?.errors?.['minlength']">
                            Campo senha deve ter pelo menos 6 caracteres.
                          </div> 

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-md-8 col-lg-6 mx-auto text-center">
                    <button
                        class="btn btn-primary btn-lg mb-5"
                        (click)="submitForm($event)"
                        [disabled]="loginForm.invalid"
                    >
                        <span>Entrar</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>