<section class="pt-5 pb-5 pt-lg-7 pb-lg-7">
    <div class="container">
        <div class="mb-2 text-center" *ngIf="!isAuthenticated">
            <h1>Acesso negado!</h1>
        </div>
        <div *ngIf="isAuthenticated">
            <div class="mb-2"  *ngFor="let item of users">
                <mat-card>
                    <div class="row p-3">
                        <div class="col-sm">
                            Name: {{item.name}}
                        </div>
                        <div class="col-sm">
                            CPF: {{item.document}}
                        </div>
                        <div class="col-sm">
                            Code: {{item.code}}
                        </div>
                    </div>
                </mat-card>
            </div>       
        </div> 
    </div>
</section>
